.nav-spacer {
  flex: 1 1 auto;
}
.toolbar-button {
  border-radius: 50%;
  padding: 0;
}
.hidden {
  display: none
}
.toolbar-area {
  flex:1 1 0
}
.center-area {
  text-align: center;
}
.right-area {
  text-align: end;
}